<!doctype html>

<html>
<head>
	<title>Coupons page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
    <link href="css/a5screen2.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="js/a5.js"></script>
	<script src="js/coupon.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	<div class="maincontainer" align="center" style="width:80%" >
				<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Snacks<h4>
		</div>
		{{#each coupons}}
			{{#if snack}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table style="width:335px">
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>
				
			{{/if}}
		{{/each}}
		<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Chicken<h4>
		</div>
		{{#each coupons}}
			{{#if chicken}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table>
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>

			{{/if}}
		{{/each}}
		<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Beef<h4>
		</div>
		{{#each coupons}}
			{{#if beef}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table style="width:335px">
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>
				
			{{/if}}
		{{/each}}
		<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Fish<h4>
		</div>
		{{#each coupons}}
			{{#if fish}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table style="width:335px;">
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>
				
			{{/if}}
		{{/each}}
		<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Beverages<h4>
		</div>
		{{#each coupons}}
			{{#if beverage}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table style="width:335px">
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>
				
			{{/if}}
		{{/each}}
		
		<div style="background-color: #f56c57; font-family:Gill Sans Nova; font-weight: 50; color: #ffffff;" >
			<h4>Other<h4>
		</div>
		{{#each coupons}}
			{{#if other}}

				<div class="coupons" id="{{product}}">
					<img class="img-responsive img-rounded" id="{{productID}}" onclick="{{call}}" src="{{imageURL}}">
					<h4>{{product}}</h4>
					<table style="width:335px">
						<tr>
							<td>Saved: ${{Saved}}.00</td>    
							<td align="right">Price: {{Deal}}</td>
						</tr>
					</table>
				</div>
				<hr>
				
			{{/if}}
		{{/each}}

	</div>
</body>
</html>